#[PLATFORM]-Add-BEGIN by mike.li for msg2238 driver code.[2015.03.06]
config TOUCHSCREEN_MSG2238            
       tristate "MSG2238 touchscreen"
	default n
       depends on I2C
       help
         Say Y here if you have a MSG2238 touchscreen on TCL PIXI3.
         If unsure, say N.
         To compile this driver as a module, choose M here: the
         module will be called MSG2238.
#[PLATFORM]-Add-END by mike.li
