config SENSORS_PSENSOR
        tristate "P-sensor"
        help
          Say Y here to enable support for the P-sensor

          To compile this driver as a module, choose M here: the module will
          be called P-sensor.
